You are <%= firstname %> <%= last_name %> and you are <%= age %> years old, what is your favorite color?

<form method = 'post' action = '/fav_color'>
  color: <input type="text" name="f_color"><br>
  <input type = "hidden" name = "firstname" value = "<%= firstname %>">
  <input type = "hidden" name = "last_name" value = "<%= last_name %>">
  <input type = "hidden" name = "age" value = "<%= age %>">
  <input type="submit" value="Submit">
</form>