You are <%= firstname %> <%= last_name %> and you are <%= age %> years old, your favorite color is <%= favcolor %>. Your three luckiest numbers are <%= num1 %>, <%= num2 %>, and <%= num3 %>. Your favorite animal is a(n) <%= favanimal %>.
Three lucky numbers added up: <%= add_total %>.
Three lucky numbers subtacted: <%= subtract_total %>.
Three lucky numbers multiplied: <%= multiply_total %>.
Three lucky numbers divided: <%= divide_total %>.
<form method = 'post' action = '/final_page'>
  <input type = "hidden" name = "favanimal" value = "<%= favanimal %>">
  <input type = "hidden" name = "firstname" value = "<%= firstname %>">
  <input type = "hidden" name = "last_name" value = "<%= last_name %>">
  <input type = "hidden" name = "age" value = "<%= age %>">
  <input type = "hidden" name = "favcolor" value = "<%= favcolor %>">
  <input type = "hidden" name = "num1" value = "<%= num1 %>">
  <input type = "hidden" name = "num2" value = "<%= num2 %>">
  <input type = "hidden" name = "num3" value = "<%= num3 %>">
</form>