You are <%= firstname %> <%= last_name %> and you are <%= age %> years old, your favorite color is <%= favcolor %>.

<form method = 'post' action = '/fav_color'>
  lucky number 1: <input type="text" name="num1"><br>
  lucky number 2: <input type="text" name="num2"><br>
  lucky number 3: <input type="text" name="num3"><br>
  <input type = "hidden" name = "firstname" value = "<%= firstname %>">
  <input type = "hidden" name = "last_name" value = "<%= last_name %>">
  <input type = "hidden" name = "age" value = "<%= age %>">
  <input type = "hidden" name = "favcolor" value = "<%= favcolor %>">
  <input type="submit" value="Submit">
</form>